@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
    <form>
        <h1>Type your name</h1>
        <p><input type="text" name="UserName" placeholder="Name"> <input type="submit" name="sendButton" value="Send"></p>
    </form>
</div>