@model MvcMovie.Models.User;
@{
    ViewData["Title"] = "Name";
}

<link rel="stylesheet" href="css/site.css">

<div class="text-center">
    @using(Html.BeginForm("ButtonClick", "Hello"))//Method and Controller
    {
        <h1>Type your name</h1>
        <p><input asp-for="UserName" placeholder="Name"> <button>Send</button></p>
    }
</div>